<%- include('partials/header') %>

<div class="container">
    <div class="row">
        <div class="card p-4 mx-auto">
            <a href="/add" class="btn btn-primary btn-block btn-lg">
                Añadir Producto
            </a>
            <a href="/add" class="btn btn-primary btn-block btn-lg">
                Paginacion
            </a>

        </div>
    </div>
</div>

<%- include('partials/footer') %>

