<%- include('partials/header') %>
<div class="container my-4 d-flex justify-content-center align-items-center" style="height: 85svh;">
    <div class="row-12 p-4">
        <div class="card p-4 mx-auto">

            <a href="/add" class="btn btn-primary btn-block btn-lg">
                Añadir Producto
            </a>
            <a href="/add" class="btn btn-primary btn-block btn-lg">
                Paginacion
            </a>

        </div>
    </div>
</div>
<%- include('partials/footer') %>

